#right-bar.right-bar
  #myDiv.right-bar__content
    ul.right-bar__list
      li
        img(src="/img/logo.jpg" alt="logo")
      li
        a(href="/") Inicio
      li
        a(href="/motos") Motos
      li
        a(href="/bikes") Bikes
      li
        a(href="/sobre") Sobre
#popup.popup
  .popup__content.u-box-column
    .u-box-row
      .popup__left
        img.popup__img(src="/img/moto-sun.png" alt="Tour photo")
      .popup__right
        a.popup__close(href="#models") ×
        h2.heading-tertiary.u-margin-bottom-small
          | Entre em contato com a nossa equipe e peça a sua moto dos sonhos!
    img.popup__img.popup__img-bottom(src="../img/contact.png" alt="contato")
#popup-2.popup
  .popup__content.u-box-column
    .u-box-row
      .popup__left
        img.popup__img(src="/img/moto-wallpaper.jpg" alt="imagem_motos")
      .popup__right
        a.popup__close(href="#models") ×
        h2.heading-tertiary.u-margin-bottom-small
          | Entre em contato com a nossa equipe e faça a revisão de sua moto!
    img.popup__img(src="../img/contact.png" alt="contato")

